body {
  background-color: beige;

}

.header{
  display: flex;
  background-color: #90944b;
  justify-content: space-between;
}

.slogan {
align-self: center;
color: rgb(219, 224, 169);
font-size: xx-large;
margin-left: 2em;
font-weight: bold;
  }

.header ul{
 display: flex;
  margin-right: 2em;
}

.header ul a{
  margin-left: 1em;
  color: rgb(219, 224, 169);
font-weight: bold;
font-size: larger;
}

.main-photo{
  background-color: rgb(221, 226, 143);
}

.main-photo img {
  width: 100%;
}

.departments {
  display: flex;
  background-color: rgb(221, 226, 143);
  justify-content: space-around;

}
.departments section{
  width: 150px;
}
.main-text{
  flex-grow: 2;
  flex-basis: 0;
  width: 70;
  margin-left: 1em;
  margin-right: 1em;
}
.item {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
  text-align: center;
  color: #323406;
  font-size: x-large;
}
.item img {
width: 99%;

}
p {
  font-size: large;
}
nav {
  list-style-type: none;
}

.footerConteiner {
  display: flex;
  background-color: #242505;
  width: 100%;
  justify-content: space-around;
  height: 50px;
align-self: self-end;

}
.social-icons {
 display: flex;
}
.social-icons a {
  margin-left: 20px;
  align-self: center;
}
.social-icons a i {
  padding: 3px;
  border-radius: 20%;
  background-color: rgb(137, 87, 11);
  color: rgb(221, 226, 143);
  opacity: 0.9;
}
.social-icons a:hover {
  background-color: #323406;
  transition: 1s;
}
.footerNavegator{
  display: flex;
}
.footerNavegator a {
  margin-left: 1em;
  color: rgb(219, 224, 169);
align-self: center;
}
@media screen and (max-width:768px) {
.slogan{
  align-self: center;
  color: rgb(219, 224, 169);
font-size: x-large;
}
  .departments {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-text{
    
    width: 95%;
    align-items: center;
  }
  .departments section{
    align-self: center;
  }
  .containerCarrousel{
    display: none;
    
}
.item{
  width: 100%;
  margin-right: 2em;
}
.text-rigt{
  width: 100%;
  margin-right: 1em;
}

}
  /*.court img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: auto;
  }*/

  

@media screen and (max-width:600px) {
  .slogan{
    display: none;
  }
  .header ul{
     margin-right: 1em;
   }
    .departments {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .court img {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-top: auto;
    }
    .rules {
      margin-top: auto;
    }
    .containerCarrousel{
      display: none;
      width: 2% ;
    }
    .text-rigt{
      width: 98px;% !important;
     
    }

  }
  /*media for .carousel img*/
  @media screen and (max-width: 1199px) {
    .containerCarrousel{
      width: 2%;
      display: none;
    }
    
    .text-rigt{
      width: 98%!important;
    
    }
  }
/* registerForm      */
  .singup-box{
    margin: auto;
    margin-top: 15px;
    background-color: rgb(221, 226, 143);
    border-radius: 4px;
    width: 400px;
    height: 720px;
    border: 3px solid #323406;
    margin-bottom: 15px;
  }
  h1{
    text-align: center;
    padding: 0.5em;
  }
  h4{
    text-align: center;
  }
  form{
    width: 320px;
    margin-left: 2em;
  }
  form label{
    display: flex;
    font-size: larger;
    margin-top: 1em;
  }
  form input{
    width: 100%;
    padding: 8px;
    border: 2px solid  #323406;
    border-radius: 5px;
    outline: none;
  }
  input[type="button"]{
    background-color: rgb(110, 116, 31) ;
    width: 330px;
    height: 36px;
    margin-top: 25px;
    color: aliceblue;
    font-size: large;
  }
  fieldset{
    display: flex;
    margin-top: 1.5em;
    border: none;
  }
  fieldset legend{
font-size: larger;
text-align: center;
  }
.slide-track{
  display: flex;
  justify-content: center;
  width: 80%;
}
.main-carousel{
  display: flex;
  justify-content: space-between;
}


.container-carousel{
  
  margin-top: 10px;
  width: 40%;
}
.text-rigt{
  width: 60%;
}
